.container{
     position: relative;
     justify-content: space-evenly;
     flex-wrap: wrap;
     width: 90%; /* usa un porcentaje en lugar de un ancho fijo */
     margin: auto;
}

.footer{
     position: fixed;
     bottom: 0;
     width: 100%;
     font-size: 15px;
}

.footer span{
     font-weight: 700;
}

.footerBg{
     background-color: #6363638e;
}

.footerDiv{
     display: flex;
     justify-content: space-between; 
     align-items: center;
}

.footerInfo{
     line-height: 1.5; /* aumenta el line-height para mayor legibilidad en dispositivos más pequeños */
     color: white; /* cambia el color de texto a blanco */
}

.footerLinkL a{
     color: white;
     margin-left: 10px; /* separa un poco más los iconos de los links */
     
}

.footerLinkL{
     margin: 10px;
}

.footerLinkG a{
     margin-right: 10px; /* separa un poco más los iconos de los links */
     color: white;
}

.name {
     color: rgb(243, 240, 240);
}

.links{
     position: absolute;
     display: flex;
     right: 5%; /* usa un porcentaje en lugar de un valor fijo */
     align-items: center;
}

@media(max-width: 768px){
     .footer{
          position: relative;
     }
     .links{
          position: static;
     }
     .footerDiv{
          flex-direction: column;
          justify-content: center;
          align-items: center;
     }
     .footerLinkL{
          margin-bottom: 10px;
          margin: 10px;
     }
     .footerInfo{
          text-align: center;
          color: white; /* cambia el color de texto a blanco */
     }
}
