.container {
     max-width: 700px;
     padding: 20px 40px;
     margin: 0 auto;
   }
   
   .LandingPageContent {
     background-color: #6363638e;
     border-radius: 10px;
     margin-top: 240px;
     display: flex;
     flex-direction: column;
     align-items: center;
     text-align: center;
   }
   
   .LandingPageContent h1 {
     font-weight: 400;
     font-size: 50px;
     margin-bottom: 0;
   }
   
   .LandingPageContent span {
     font-weight: 700;
   }
   
   .LandingPageContent p {
     font-size: 18px;
     line-height: 1.5;
     margin-bottom: 20px;
   }
   
   .button {
     padding: 10px 0;
     background-color: #80deea;
     text-align: center;
     color: black;
     width: 280px;
     height: auto;
     font-size: 20px;
     font-weight: 700;
     border-radius: 10px;
     border: none;
     margin-bottom: 20px;
   }
   
   .button:hover {
     background-color: #4bacb8;
     color: white;
   }
   
   @media(max-width: 768px) {
     .LandingPageContent {
       margin-top: 100px;
     }
     .LandingPageContent h1 {
       font-size: 30px;
     }
     .LandingPageContent p {
       font-size: 16px;
     }
     .button {
       width: 100%;
       max-width: 280px;
     }
   }
   