/* Estilos para el contenedor principal */
.navBar {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 60px;
     width: 100%;
     position: fixed;
     top: 0;
     left: 0;
     z-index: 100;
   }
   
   /* Estilos para el fondo de la barra de navegación */
   .navBarBg {
     background-color: #33333369;
   }
   
   /* Estilos para el contenedor interno */
   .navBarDiv {
     display: flex;
     justify-content: space-between;
     align-items: center;
     height: 100%;
     width: 100%;
     max-width: 1200px;
     padding: 0 20px;
   }
   
   /* Estilos para el contenedor de los enlaces */
   .links {
     display: flex;
     justify-content: center;
     align-items: center;
   }
   
   /* Estilos para cada página en el menú */
   .page {
     margin-right: 20px;
   }
   
   /* Estilos para el enlace de la página */
   .linkp, .linka {
     color: white;
     font-size: 18px;
     font-weight: 400;
     text-decoration: none;
     margin-right: 10px;
   }
   
   /* Estilos para el enlace activo de la página */
   .linkp.active, .linka.active {
     color: #3CA6A6;
     font-weight: 700;
   }
   

   .link{
     color: white;
 }

 .link:hover{
     color: #3CA6A6;
 }
 